
  <div class="container" id="home-container">
    <div class="container-fluid py-5 text-center text-white" id="jumbotron">
      <h1 class="display-4 fw-bold">Alpha Blog</h1>
      <p class="lead">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
      <hr class="my-4">
      <p>Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
      <%= link_to "Sign Up!", signup_path, class: "btn btn-primary btn-lg btn-success"%>
    </div>
  </div>

