<footer class="footer mt-auto py-3 bg-dark text-center text-white" id="sticky-footer">
  <div class="container">
  <!-- the link is to show how to add external links -->
    <span class="text-muted">Copyright © <%= link_to "Google", "https://www.google.com", class: "text-white" %></span>
  </div>
</footer>